.page-breadcrumb {
	.breadcrumb {
		background-color: transparent;
	}
}

#floater { 
  float: left;
  height: 50%;
  margin-bottom: -120px;
}

.edit {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.future {
  background-color: @theme-bg-future;
}
.past {
  background-color: @theme-bg-past;
}